.adminnav{
    height: 55px;
    width: 100%;
    background-color: #eaedf1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0px;
}
.adminlogo{
    width: 33.33%;
    height: 50px;
    
}
.logo{

height: 100%;
}
.adheading{
    width: 33.33%;
    height: 50px;
   
    display: flex;
    align-items: center;
    justify-content: center;
}
.adheading>h1{
    font-size: 1rem ;
    font-weight: 600;
}
.adminnavigate{
    width: 33.33%;
    height: 50px;
  
    display: flex;
    align-items: center;
    justify-content:flex-end;
}
.adminnavigate>button{
    margin-right: 25px;
}


.adminbody{
    width: 100%;

    background-color: aqua;
    margin: auto;
    margin-top: 55PX;
    display: flex;
    align-items: center;
    justify-content: center;
}
.categorypanel{
    width: 20%;
    height: 6000px;
    background-color: rgb(172, 172, 172);
}
.categorypanel>div{
    background-color: rgb(4, 36, 65);
height: 50px;
width: 90%;
margin: auto;
display: flex;
align-items: center;
justify-content: center;
border: 1px solid rgb(255, 255, 255);
margin-top: 20px;
border-radius: 10px;
color: #eaedf1;
font:20px bold;

}





.rmcatbodubj{
    width: 80%;
    height: 6000px;
    background-color: rgb(255, 255, 255);
}