.proddiva{
    width: 100%;
    
    display: flex;
    padding: 20px;
   border: 1px solid rgb(226, 206, 206);
   border-radius: 20px;
}

.imagena{
    width: 40%;
    height:100%;
   
   
}

.image{
    height: 100%;
    
}
.descprn{
    padding: 10px;
    width: 60%;
    height:100%;
  
    
}
.descprn>h1{
font-size: 18px ;
font-weight: 500;
}
.descprn>div{
    height: 50px;
    width: 100%;
    display: flex;
    margin-top:25px ;
    align-items: center;
    justify-content: center;
    gap: 20px;
   
}
.descprn>div>div{
    height: 50px;
    width: 50%;
    border: 2px solid rgb(122, 66, 66);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-weight: 800;
}
.descprn>h5{
    
    width: 100%;
    margin: auto;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 174, 0);
}