
.rate_count{
    display: flex;
    border: 1px solid transparent;
    justify-content: space-around;

}
.rate_count>p{
    display: flex;
}
.btn{
    height:45px;
    background-color: black;
    width: 100%;
    border-radius: 0;
    font-weight: bold;
    color: aliceblue;
}