.main {
    display: flex;
    margin: auto;
    /* align-items: center; */
    justify-content: center;
    gap: 100px;
    line-height: 20px;

}


.mainDiv {
    width: 30%;
    border: 1px solid black;
    text-align: left;
    line-height: 14px;
    padding: 30px;
    margin-top: 100px;
}


.main h1 {
    /* border-color: #000000; */
    /* border-style: solid; */
    /* border-width: 2px; */
    color: #333333;
    font-family: Lato;
    font-size: 24px;
    line-height: 33px;
    margin: -2px 0px 24px -2px;
    padding: 2px
}

.main label {
    color: #333333;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    padding: 0px 0px 0px 8px
}

.main input {
    background-color: #ffffff;
    /* box-shadow: #ffffff 0px 0px 0px 40px; */
    color: #333333;
    font-family: Lato;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 30px;
    margin-top: 10px;
    /* border: none; */
    padding: 1px 2px;
}

.buttoncontinue {
    background-color: #262626;
    border-color: #262626;
    border-style: solid;
    border-width: 1px;
    color: #ffffff;
    display: flex;
    font-family: Lato;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    line-height: 20px;
    padding: 10px 38px;
    width: 100%;
    text-transform: uppercase
}