.SignupNavBar {
  /* width: 90%; */
  /* height: 100px; */
  /* border: 1px solid black; */
  background-color: rgb(255, 255, 255);
  display: flex;
  /* align-items: left; */
  padding: 10px 40px;
  position: sticky;
  top: 0px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 999;
}

.SignupNavBar img{
  width: 180px;
}
.SignupNavBar:hover{
  cursor: pointer;
}

img {
  height: 60px;
}

p {
  color: #666666;
  font-weight: 700;
  line-height: 24px;
  margin: 8px 0px 4px 8px;
}

.mainSignup {
  background-color: rgb(242, 242, 242);
}

.head {
  color: #333333;
  font-family: Lato;
  font-size: 24px;
  line-height: 33px;
  margin: 0px 0px 16px;
  text-align: left;
  padding-bottom: 50px;
}

.form {
  width: 45%;
  margin: auto;
  /* border: 1px solid black; */
  background-color: #ffffff;
  color: #333333;
  font-size: 14px;
  line-height: 14px;
  padding: 32px;
  text-align: left;
  margin-top: 70px;
}

.button {
  width: 300px;
  background-color: rgb(255, 255, 255);
  align-items: center;
  background-color: #ffffff;
  border-color: #8d8d8d;
  border-style: solid;
  border-width: 1px;
  color: #666666;
  display: flex;
  font-family: Arial;
  font-size: 14px;
  font-weight: 700;
  justify-content: center;
  letter-spacing: 0.18px;
  line-height: 24px;
  gap: 5px;
  font-size: 13px;
}

.button:hover {
  background-color: rgb(242, 242, 242);
  border: none;
}

.input input {
  width: 100%;
  height: 50px;
  border: 2px solid black;
  margin: 15px 0px;
  font-size: 20px;
  padding-left: 10px;
  /* text-transform: capitalize; */
}

.referral {
  padding: 8px;
  margin-top: 35px;
  background-color: rgb(242, 242, 242);
}

.referral input {
  width: 98%;
  height: 50px;
  margin: auto;
}

label {
  color: #333333;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  padding: 0px 0px 0px 8px;
}

.checkBox {
  color: #8c8c8c;
  display: flex;
  font-family: Avenir;
  font-size: 14px;
  line-height: 14px;
  padding: 12px 8px;
  /* border: 1px solid black; */
  /* justify-content:end; */
  align-items: center;
  text-align: left;
  /* margin: none; */
  /* padding: none; */
}

.checkBox input {
  height: 20px;
  /* border: 1px solid black; */
  width: 20px;
}
.button {
  width: 100%;
  height: 50px;
  background-color: #222222;
  color: white;
  font-size: 15px;
  border: none;
}

.button:hover {
  background-color: #222222a2;
}

@media (max-width: 400px) {
  .SignupNavBar{
    display: flex;
    justify-content: center;
  }

  
}

@media (max-width: 1000px) {
  .form{
    width: 60%;

  }
  .input input {
    width: 100%;
    height: 40px;
    
  }
  
  
}
@media (max-width: 700px) {
  .form{
    width: 90%;

  }
  .input input {
    width: 100%;
    height: 30px;
    
  }
  
}
@media (max-width: 500px) {
  .form{
    width: 100%;

  }
  
}